/**

    BUTTONS

 */

.button,
button {
    border: 0;

    font-family: 'Source Sans Pro', 'Avenir Next', 'Avenir', -system-sans-serif, sans-serif;

    padding: 0.5em 1em;

    border-radius: 2px;

    transition: background-color 0.15s;

    position: relative;
}

button:hover,
.button:hover {
    cursor: pointer;
}

button:active,
.button:active {
    top: 1px;
}

.button--with-icon {
    padding-left: 3em;
}

.button--with-icon:before {
    border-right: 1px dotted #FFFDF0;

    position: absolute;

    top: 0;
    left: 0;

    height: 100%;

    width: 1em;

    padding: 0.5em;

    font-weight: 700;
}

.button--icon-plus:before {
    content: '+';
}

.button--icon-minus:before {
    content: '–';
}

.button--neutral {
    background: #777777;

    color: #ffffff;
}

.button--neutral:hover {
    background: rgb(111, 111, 111);
}

.button--standard {
    background: rgb(84, 119, 166);

    color: #ffffff;
}

.button--standard:hover {
    background: rgb(76, 111, 158);
}

.button--positive {
    background: rgb(19, 119, 82);

    color: #ffffff;
}

.button--positive:hover {
    background: rgb(11, 111, 74);
}

.button--negative {
    background: rgb(231, 4, 15);

    color: #ffffff;
}

.button--negative:hover {
    background: rgb(221, 0, 5);
}



.button--outline {
    border: 1px solid;
}

.button--outline.button--standard {
    border-color: rgb(84, 119, 166);

    background: transparent;

    color: #555555;
}

.button--outline.button--standard:hover {
    background: rgb(84, 119, 166);

    color: #ffffff;
}

.button--left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button--middle {
    border-radius: 0;

    border-left-width: 0;
    border-right-width: 0;
}

.button--right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}