
.max-h1 { max-height: 1rem; }
.max-h2 { max-height: 2rem; }
.max-h3 { max-height: 4rem; }
.max-h4 { max-height: 8rem; }
.max-h5 { max-height: 16rem; }
.max-h6 { max-height: 32rem; }
.max-h7 { max-height: 48rem; }
.max-h8 { max-height: 64rem; }
.max-h9 { max-height: 96rem; }
