.sh-bg-rich-black { background-color: #022F40; }
.sh-bg-maximum-blue { background-color: #38AECC; }
.sh-bg-true-blue { background-color: #0074D9; }
.sh-bg-sea-blue { background-color: #046E8F; }

.sh-rich-black { color: #022F40; }
.sh-maximum-blue { color: #38AECC; }
.sh-true-blue { color: #0074D9; }
.sh-sea-blue { color: #046E8F; }
