.button {
    border: 0;

    font-family: 'PT Sans', -system-sans-serif, sans-serif;

    padding: 0.5rem 1rem;

    border-radius: 2px;

    transition: background-color 0.15s;

    position: relative;
}

    .button:hover {
        cursor: pointer;
    }

    .button:active {
        top: 1px;
    }

    .button--neutral {
        background: rgb(119, 119, 119);

        color: #FFFDF0;
    }

        .button--neutral:hover {
            background: rgb(111, 111, 111);
        }

    .button--standard {
        background: rgb(84, 119, 166);

        color: #FFFDF0;
    }

        .button--standard:hover {
            background: rgb(76, 111, 158);
        }