/**

    RESETS/BASE

 */
body {
    margin: 0;
}

p {
    margin-bottom: 0;

    line-height: 1.4;
}

p:first-child {
    margin-top: 0;
}

ul li,
ol li {
    margin-top: 0.25rem;

    line-height: 1.4;
}

ol {
    padding-left: 2.25rem;
}

ol li {
    padding-left: .25rem;
}