@define-placeholder ff-app-sans {
    font-family: 'Source Sans Pro', 'Avenir Next', 'Avenir', -system-sans-serif, sans-serif;
}

body {
    @extend ff-app-sans;
}

.app-sans {
    @extend ff-app-sans;
}

.app-serif {
    font-family: Georgia, serif;
}

.transparent {
    color: transparent;
}